<h1>Ventas</h1>
<hr>


<div class="row animated fadeIn fast">
  <div class="col-md-12">

    <div class="table-responsive">

      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Descripcion</th>
         <!--   <th class="text-right">Opciones</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let heroe of heroes; let i = index">
            <td>{{ heroe.numeroOrden }}</td>
            <td>{{ heroe.descripcion }}</td>
        <!--    <td class="text-right w120">
              <button [routerLink]="['/heroe', i+1]"
                      type="button" class="btn btn-outline-success">
                Editar
              </button>
              <button (click)="borraHeroe(heroe.id)"
                      type="button" class="btn btn-outline-danger">
                Eliminar
              </button>
            </td> -->
          </tr>
        </tbody>
      </table>

      <div *ngIf="(heroes).length === 0 && !loading"
          class="alert alert-info" role="alert">
        <strong>No hay</strong> registros que mostrar
      </div>

      <div *ngIf="loading"
            class="alert alert-warning" role="alert">
        <strong>Cargando...</strong> por favor espere
      </div>


    </div>

  </div>
</div>
